beautifulsoup4
bokeh
contractions
gensim
jieba
jupyter
jupyter-nbextensions-configurator
Keras
ktrain
matplotlib
nltk
numpy
pandas
plotnine
pyvis
rpy2
scikit-learn
seaborn
spacy
scipy
tensorflow
ckip-transformers
transformers

