absl-py==1.4.0
accessible-pygments==0.0.4
afinn==0.1
alabaster==0.7.13
anyascii==0.3.2
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1666851004481/work
arrow==1.2.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
bidict==0.22.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blis==0.7.9
bokeh==3.2.0
boto3==1.28.3
botocore==1.31.3
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.8
cchardet==2.1.7
certifi==2023.5.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179477998/work
chardet==5.1.0
charset-normalizer==3.2.0
ckip-transformers==0.3.4
ckiptagger==0.2.1
click==8.1.5
colorama==0.4.6
comm==0.1.3
confection==0.1.0
contourpy==1.1.0
contractions==0.1.73
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.36
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755608266/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
descartes==1.1.0
dill==0.3.6
docutils==0.17.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fake-useragent==1.1.3
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1684761244589/work/dist
fastprogress==1.0.3
filelock==3.12.2
flatbuffers==23.5.26
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1684084314667/work/source/flit_core
fonttools==4.41.0
fqdn==1.5.1
fsspec==2023.6.0
ftfy==6.1.1
funcy==2.0
future==0.18.3
gast==0.4.0
gensim==4.3.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.32
globre==0.1.5
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.56.0
h5py==3.9.0
huggingface-hub==0.16.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
igraph==0.10.5
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
iniconfig==2.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1655369698656/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1685727999785/work
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
jieba==0.42.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib==1.3.1
json5==0.9.14
jsonpickle==3.0.1
jsonpointer==2.4
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1689278275025/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1687704968857/work
jupyter-book==0.15.1
jupyter-cache==0.6.1
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-contrib-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_core_1657548529421/work
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator @ file:///home/conda/feedstock_root/build_artifacts/jupyter_nbextensions_configurator_1670793770953/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1676473377907/work
jupyter-server-mathjax==0.2.6
jupyter-sphinx==0.4.0
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1686775699766/work
jupyter_server_terminals==0.4.4
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets==3.0.8
jupyterlab_server==2.23.0
jupyterthemes==0.20.0
keras==2.11.0
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.51.0
keras-transformer==0.40.0
keras-tuner==1.3.5
kiwisolver==1.4.4
kt-legacy==1.0.5
ktrain==0.37.2
langcodes==3.3.0
langdetect==1.0.9
latexcodec==2.0.1
lazy_loader==0.3
lesscpy==0.15.1
libclang==16.0.0
lime==0.2.0.1
linkify-it-py==2.0.2
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769110890/work
matplotlib==3.7.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1686313613819/work/dist
mizani==0.9.2
mpmath==1.3.0
murmurhash==1.0.9
myst-nb==0.17.2
myst-parser==0.18.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1683202085119/work
nbclient==0.7.4
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1687202153002/work
nbdime==3.2.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1688996247388/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
nltk==3.8.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1680870634737/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numexpr==2.8.4
numpy==1.25.1
oauthlib==3.2.2
OpenCC==1.1.6
openpyxl==3.1.2
opt-einsum==3.3.0
oset==0.1.3
overrides==7.3.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
palettable==3.3.3
pandas==2.0.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parse==1.19.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathy==0.10.2
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.0.0
pip-autoremove==0.10.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
plac==1.3.5
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1688739404342/work
plotnine==0.12.1
pluggy==1.2.0
ply==3.11
praatio==6.0.0
preshed==3.0.8
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1689032443210/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
protobuf==3.19.6
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775313120/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.11.0
pyahocorasick==2.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybtex==0.24.0
pybtex-docutils==1.0.2
pycairo==1.24.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.11
pydata-sphinx-theme==0.13.3
pydot==1.4.2
pyee==8.2.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pyLDAvis==3.4.1
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1686129377172/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1686136007099/work
pyparsing==3.0.9
pyperclip==1.8.2
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
pytesseract==0.3.10
pytest==7.4.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-igraph==0.10.5
python-json-logger==2.0.7
pytube==15.0.0
pytz==2023.3
pyvis==0.3.2
PyWavelets==1.4.1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772473931/work
pyzmq==19.0.2
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1688649054330/work
regex==2023.6.3
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1688996722487/work
rpy2==3.5.13
rsa==4.9
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1682601407921/work
sentencepiece==0.1.99
seqeval==1.2.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.3.0
smmap==5.0.0
snap-stanford==6.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer==2.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy==3.6.0
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-pkuseg==0.0.32
spacy-transformers==1.2.5
SpeechRecognition==3.10.0
Sphinx==4.5.0
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-panels==0.6.0
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.18
srsly==2.4.6
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.0
sympy==1.12
syntok==1.4.4
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
terminaltables==3.1.10
testpath==0.6.0
textblob==0.17.1
textsearch==0.0.24
texttable==1.6.7
thinc==8.1.10
threadpoolctl==3.2.0
tifffile==2023.7.10
tika==2.6.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tmtoolkit==0.12.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.0.1
torchcontrib==0.0.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150334329/work
tqdm==4.65.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers==4.30.2
typer==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.2
Unidecode==1.3.6
uri-template==1.3.0
urllib3==1.26.16
w3lib==2.1.1
wasabi==1.1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1687789148259/work
websockets==10.4
Werkzeug==2.3.6
Whoosh==2.7.4
widgetsnbextension==4.0.8
wordcloud==1.9.2
wrapt==1.15.0
xlrd==2.0.1
xyzservices==2023.7.0
yapf==0.40.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689027407711/work
